*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#ffffff;
color:#333;
}

a{
text-decoration:none;
color:inherit;
}

ul{
list-style:none;
}

img{
width:100%;
display:block;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
}